@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide Google Translate top banner */
/* .skiptranslate {
  display: none !important;
} */

/* Also reset body's top margin if it's added by Google */
/* body {
  top: 0 !important;
} */

#google_translate_element {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  transform: scale(0.7);
  /* Further reduce size */
  /* Reduce size */
  transform-origin: bottom left;
  background-color: rgba(255, 255, 255, 0.8);
  /* Optional: Add a background */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #google_translate_element {
    transform: scale(0.6);
    /* Further reduce size on smaller screens */
  }
}